<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="connection.url">jdbc:mysql://localhost:8000/hibernate</property>
		<property name="connection.username">avijit</property>
		<property name="connection.password">Avijit</property>
		<property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>
		<property name="hbm2ddl.auto">update</property>
		<property name="show_sql">true</property>
		<property name="format_sql">true</property>

		<mapping class="com.webmonster.hibernateProject.Users" />
		<mapping class="com.webmonster.hibernateProject.UsersList" />
		<mapping class="com.webmonster.mapingTables.UsersPro" />
		<mapping class="com.webmonster.mapingTables.Product" />
		<mapping class="com.webmonster.mapmanytomany.EmpDetails" />
		<mapping class="com.webmonster.mapmanytomany.ProjectDetails" />

	</session-factory>


</hibernate-configuration>